.active a {
    color: red;
    font-weight: bold;
}


 /* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 300px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  padding-left: 0px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 14px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
/*  margin: auto; */
  margin-left: 300px; /* Same as the width of the sidebar */
/*  margin-right: auto;*/
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} 

/* Hide Marker for List Items */
ul {
  list-style-type: none;
}








/* Toggler Functionality */
/*input:checked ~ aside {
  left: -300px;
}*/


aside {
  width: 250px;
  height: 100vh;
  background: #000;
  position: fixed;

  color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  box-shadow: 3px 1px 5px 0px rgba(0, 0, 0, 0.75)
}

aside ul {
  padding-inline-start: 0;
}

aside ul li {
  list-style: none;
  font-size: 18px;
  padding: 20px 0;
  cursor: pointer;
}

aside ul li .fas {
  width: 50px;
}

.aside-wrapper {
  padding: 0 40px;
  box-sizing: border-box;
}

.logo-text {
  font-size: 16px;
  position: relative;
}







a{
    text-decoration: none;
}



/*
Add transition to containers so they can push in and out.
*/
#layout,
#menu,
.menu-link {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

/*
This is the parent `<div>` that contains the menu and the content area.
*/
#layout {
    position: relative;
    left: 0;
    padding-left: 0;
}
    #layout.active #menu {
        left: 250px;
        width: 250px;
    }

    #layout.active .menu-link {
        left: 250px;
    }



    /*
    This styles the selected menu item `<li>`.
    */
    #menu .pure-menu-selected,
    #menu .pure-menu-heading {
        background: #1f8dd6;
    }
        /*
        This styles a link within a selected menu item `<li>`.
        */
        #menu .pure-menu-selected a {
            color: red; /* #fff; */
        }

    /*
    This styles the menu heading.
    */
    #menu .pure-menu-heading {
        font-size: 110%;
        color: #999;
        margin: 0;
    }

/* -- Dynamic Button For Responsive Menu -------------------------------------*/

/*
The button to open/close the Menu is custom-made and not part of Pure. Here's
how it works:
*/

/*
`.menu-link` represents the responsive menu toggle that shows/hides on
small screens.
*/
.menu-link {
    position: fixed;
/*	display: flex; */
    display: block; /* show this only on small screens */
    top: 0;
    left: 250px; /* "#menu width" */
    background: #0f0;
/*    background: rgba(0,0,0,0.7);*/
    font-size: 10px; /* change this value to increase/decrease button size */
    z-index: 10;
    width: 2em;
    height: auto;
    padding: 2.1em 1.6em;
/* 	cursor: pointer;*/
}

    .menu-link:hover,
    .menu-link:focus {
        background: #000;
    }

    .menu-link span {
        position: relative;
        display: block;
    }

    .menu-link span,
    .menu-link span:before,
    .menu-link span:after {
        background-color: #fff;
        pointer-events: none;
        width: 100%;
        height: 0.2em;
    }

        .menu-link span:before,
        .menu-link span:after {
            position: absolute;
            margin-top: -0.6em;
            content: " ";
        }

        .menu-link span:after {
            margin-top: 0.6em;
        }
		
		

/* -- Responsive Styles (Media Queries) ------------------------------------- */

/*
Hides the menu at `48em`, but modify this based on your app's needs.
*/
@media (min-width: 48em) {

    .header,
    .content {
        padding-left: 2em;
        padding-right: 2em;
    }

    #layout {
        padding-left: 250px; /* left col width "#menu" */
        left: 0;
    }
    #menu {
        left: -250px;
    }

    .menu-link {
        position: fixed;
        left: 250px;
        display: none;
    }

    #layout.active .menu-link {
        left: 250px;
    }
	
}